/vendor/
/.env
/.env.*.local
/.phpunit.cache/
/coverage/
/storage/cache/*
/storage/logs/*
/storage/labels/*
/storage/uploads/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/labels/.gitkeep
!/storage/uploads/.gitkeep
.DS_Store
.idea/
.vscode/
