parameters:
    level: 8
    paths:
        - app
        - config
        - scripts
        - tests
    tmpDir: storage/cache/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
